.shuffle-one-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px
}

.button-div {
 display:  relative;
 padding-bottom: 50px;
 margin: 15px;

  #three {
    position: absolute;
    left: 0px;
    margin-left: 100px;
  }


  #one {

    position: absolute;
    right: 0px;
    margin-right: 100px;
  }
}

.shuffle-three-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
